[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 12.0

[submodule "robertogracias/pack"]
	path = robertogracias/pack
	url = git@github.com:robertogracias/pack.git
	branch = master
